@model CustomerRent
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="CustomerId"></label>
                <input type="text" asp-for="CustomerId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MovieId"></label>
                <input type="text" asp-for="MovieId" class="form-control" />
            </div>
        </div>
    </div>
    <button class="btn btn-success">Submit</button>
</form>